---
---
:root {
    --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-special: Barlow Condensed, Helvetica, sans-serif;
    --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;
    --color-dark: #050505;
    --color-darkish: #404040;
    --color-lightish: #e6e6e6;
    --color-light: #fafafa;
    --color-mid: grey;
    --color-accent: #fe5f55;
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --measure: 65ch;
    --line-height: var(--ratio);
    --line-height-small: calc(0.8 * var(--ratio));
    --border-thin: var(--s-5);
    --border-thick: var(--s-2);
    line-height: var(--ratio);
    font-size: calc(.333vw + 1em);
    font-family: var(--font-plain);
    background-color: var(--color-light);
    color: var(--color-dark);
}

*,:after,:before {
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0 solid
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
}

ul {
    list-style: none
}

ul:before{
    content:attr(aria-label);
    font-weight:bold;
}

img {
    width: 100%;
}

blockquote {
    border-left: 10px solid var(--color-mid);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

header a:hover {
    text-decoration: none;
}

main {
    padding: 2rem;
}

article {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
}

article section {
    padding-top: 1rem; 
}

article > section > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article > section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}




