---
layout: default
---

<h2>Digital Garden</h2>

{% assign folders = site.pages | where_exp:"item", "item.path contains 'garden'" %}
{% assign gardenfolders = "" | split:"" %}

{% for folder in folders %}
  {% assign tempvar = folder.path | split:"/" %}
  {% assign gardenfolders = gardenfolders | push:tempvar[1] %}
{% endfor %}

<!--{% assign gardenfolders = gardenfolders | uniq | sort %}-->

<ol>
{% for folder in gardenfolders %}
  {% unless folder contains 'md' or folder contains 'html' %}
  <li><a href="/garden/{{folder}}/">{{ folder | titlecase: '_' }}</a></li>
  {% endunless %}
{% endfor %}
</ol>

