---
layout: default
---

<h2>Welcome to wikifolder</h2>
<p>This is my personal digital garden. A wild garden, loosely tended. There's drafts, ideas, partials, fragments and ideas.</p>

{% assign folders = site.pages | where_exp:"item", "item.path contains 'garden'" %}
{% assign wikifolders = "" | split:"" %}

{% for folder in folders %}
  {% assign tempvar = folder.path | split:"/" %}
  {% assign wikifolders = wikifolders | push:tempvar[1] %}
{% endfor %}

{% assign wikifolders = wikifolders | uniq | sort %}

<ol>
  {% for folder in wikifolders %}
  {% unless folder contains 'md' or folder contains 'html' %}
  <li><a href="/garden/{{folder}}/">{{folder | capitalize}}</a></li>
  {% endunless %}
{% endfor %}
</ol>

